<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mojing"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
        android:name=".Dapei_Calendar_Activity"
        android:exported="false" />
        <activity
        android:name=".MsgChatDetailsActivity"
        android:exported="false" />
        <activity
            android:name=".Dapei_ChoseDown_Activity"
            android:exported="false" />
        <activity
            android:name=".Dapei_ChoseUp_Activity"
            android:exported="false" />
        <activity
            android:name=".VipChatActivity"
            android:exported="false" />
        <activity
            android:name=".VipOrderBottomSheetDialog"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".InitSanweiActivity"
            android:exported="false" />
        <activity
            android:name=".InitFigureActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dapei_SetTags_Activity"
            android:exported="false" />
        <activity
            android:name=".Me_Figure_Activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Dapei_Info_Activity"
            android:exported="false" />
        <activity
            android:name=".Dapei_Album_Activity"
            android:exported="false" />
        <activity
            android:name=".Dapei_Tag_Activity"
            android:exported="false" />
        <activity
            android:name=".Yichu_Tops_Activity"
            android:exported="false" />
        <activity
            android:name=".Yichu_Bottoms_Activity"
            android:exported="false" />
        <activity
            android:name=".Yichu_Single_Activity"
            android:exported="false" />
        <activity
            android:name=".Yichu_Add_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>